@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.svg{
  width: 100%;
  height: 100%;
  overflow: hidden;

  
}



body {
  background-color: black;
  background-image: url('./BGshapes.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-size : cover;
  }
  
}

#dot-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0px;
  left : 0px;
}